:root {
	--index: calc(1vw + 1vh);
}

* {
	color: #1e2530;
	font-family: sans-serif;
}

.header {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	height: calc(var(--index) * 2.5);
	padding: calc(var(--index) * 0.4) calc(var(--index) * 1.2);
	align-items: center;
}

.header__nav {
	margin-left: calc(var(--index) * 2);
}

.header__nav ul {
	display: flex;
	flex-direction: row;
	gap: var(--index);
}

.header__logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__logo__img {
	width: calc(var(--index) * 2);
	height: calc(var(--index) * 2);
	background-size: cover;
	background-repeat: no-repeat;
}

.header__logo_name {
	margin-left: calc(var(--index) * 0.4);
	font-size: calc(var(--index) * 1);
	font-weight: 700;
	color: #ffae00;
}

.header__phone_number {
	margin-left: auto;
	font-weight: 600;
}

.master {
	width: 100%;
	height: calc(100vh - calc(var(--index) * 2.5));
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: calc(var(--index) * 3);
	padding-left: calc(var(--index) * 4);
}

.master__text {
	width: 70%;
}

.orange_text {
	color: #ffae00;
}

.master__text__title {
	color: white;
	font-size: calc(var(--index) * 2.7);
	font-weight: 800;
	margin-bottom: 1vh;
}

.master__text__desc {
	color: white;
	font-size: calc(var(--index) * 1.5);
}

.master__phone_sender {
	width: 70%;
	margin-top: calc(var(--index) * 3);
}

.master__phone_sender__form {
	display: flex;
	flex-direction: row;
	height: calc(var(--index) * 2.5);
}

.master__phone_sender_form__input {
	width: calc(var(--index) * 12);
	border-radius: 3em 0 0 3em;
	padding-left: calc(var(--index) * 1.2);
	font-size: calc(var(--index) * 0.6);
	letter-spacing: calc(var(--index) * 0.2);
}

.input_button {
	display: flex;
	padding: calc(var(--index) * 0.3) calc(var(--index) * 0.3);
	height: calc(var(--index) * 2.5);
	width: calc(var(--index) * 9);
	background-color: white;
	border-radius: 0 3em 3em 0;
}

.input_button button {
	border-radius: 3em;
	margin-left: auto;
	padding: 0 calc(var(--index) * 1.4);
	font-size: calc(var(--index) * 0.6);
	font-weight: 600;
	background-color: #ffae00;
	color: white;
	letter-spacing: 2px;
}

.master__phone_sender__text {
	font-size: calc(var(--index) * 1.5);
	font-weight: 600;
	color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	text-wrap: nowrap;
	gap: calc(var(--index) * 0.6);
	margin-bottom: calc(var(--index) * 1);
}

.master__image {
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(var(--index) * 28);
	height: calc(var(--index) * 28);
	background-size: cover;
}
